body{
    background:  linear-gradient(135deg, #0e3c49, #732264);
}
.content-header {
    font-family: sans-serif;
    font-size: 15px;
    text-align: left;
}

.logo img {
    border-radius: 500px;
    width: 120px;
    height: 120px;
    display: block;
    margin-left: 80px;
    margin-top: 20px;
}

#appointment {
    font-family:sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
    background: #D8D7E7;
    border-radius: 5px;
}

#appointment td, #appointment th {
    padding: 10px;
}

#appointment tr:hover {background-color: whitesmoke;}

#appointment th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #D8D7E7;
    color: black;
    border-radius: 5px;
}

#ongoing {
    font-family:sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
    background: #D8D7E7;
    border-radius: 5px;
}

#ongoing td, #ongoing th {
    padding: 10px;
}

#ongoing tr:hover {background-color: whitesmoke;}

#ongoing th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #D8D7E7;
    color: black;
    border-radius: 5px;
}