*{
    margin: 0;
    padding: 0;
   
}
    
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar_home{
    position: absolute;
    width: 200px;
    height: 100%;
    left: 1336px;
    top: 0px;
    overflow: visible;
    background-color:#3674BA;    
}

ul{
    list-style: none;
}

.navbar_home ul li a{
    left: 50px;
    top: 160px;
    position:relative;
    overflow: visible;
    width: 180px;
    height: 40px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255,255,255,1);
    text-decoration: none;
    padding-top: 20px;
   
}

.navbar_doctors{
    position: relative;
    width: 200px;
    height: 100%;
    left: 1336px;
    top: 0px;
   
}



.navbar_doctors ul li a{
    left: 50px;
    top: 200px;
    position:relative;
    overflow: visible;
    width: 180px;
    height: 40px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255,255,255,1);
    text-decoration: none;
    padding-top: 20px;
   
}


h2{
    text-decoration: none;
    text-align: center;
    font-size: 35px;
    color: #3674BA; 
}

.appointments{
    padding-left: 70px;
    font-size: 20px;
   
    
}
.appointments a{
    text-decoration: none;
   
}
.specialization{
    padding-left: 70px;
    font-size: 20px;
}

.specialization select{
    font-size: 15px;
}
.specialization input[type=submit]{
    font-size: 15px;
    width: 70px;
    cursor: pointer;
}

.logout{
    padding-left: 1200px;
    
}
.logout input[type=submit]{
    font-size: 20px;
    width: 5em;
    background-color:  #3674BA; 
    border: white;
    height: 23px;
    cursor: pointer;
    
}

.table{
   width: 90%;
   border-collapse: collapse;
}

.container{
    padding: 0 5em;
}

.specialization1{
    text-align: start;
    font-size: 1.7em;
}

th, td{
    padding: 10px;
}
table, th, td{
    
    border:2px solid black;
}

.table img{
    width: 150px;
    height: 150px;
}

.table td{
    font-size: 20px ;
}

.specialization input[type="submit"]{
    background-color:  #3674BA; 
    border: white;
    height: 23px;
}

.table tr,td, a{
    text-decoration: none;
    text-align: center;
}