*{
    margin: 0px;
    padding: 0px;
}

body{
    background: linear-gradient(135deg, #0e3c49, #732264);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 380px;
    
}

.login{
    
    text-align: center;
    font-size: 30px;
}

.login input[type=submit]{
    width: 27em;
    height: 3em;
    background-color: #3660D4;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.login input[type=email]{
    width: 26em;
    height: 3em;
    border-top: none;
    margin: 8px 0;
    border-left: none;
    border-right: none;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.login input[type=text]{
    width: 26em;
    height: 3em;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 8px 0;
}

.login .inputs{
    padding-bottom: 10px;
}

.login label input{
border-color: black;
}
.login a{
    text-decoration: none;
}

.login a{
    padding-right: 250px;
    color: #d8d7e7;
}

.login h3{
    color: #d8d7e7;
}

.wrapper{
    display: flex;
    position: relative;
    
}
.wrapper .navbar{
    position: fixed;
    width: 230px;
    height: 100%;
    background:#d8d7e7;
    padding: 30px 0;

    
}

.wrapper .navbar ul li{
    padding: 15px;
    border-top: 1px solid rgba(255,255,255,0.05);

}

.wrapper .navbar ul li a{
    
    display: block;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    padding: 20px 0;
    border-bottom: 1px solid black ;
  
}

.wrapper .navbar ul li a:hover{
    color: black;
    transition-duration: 0.5s;
}
ul{
    list-style: none;
}
