*{
    margin: 0px;
    padding: 0px;
}

body{
    background: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo img{
    padding: 50px;
    border-radius: 500px;
    width: 180px;
    height: 180px;
}

h3{
    color: black;
    text-align: center;
    font-size: 20px;
}

.container{
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 8px  16px;
    border: solid black;
}

.container input[type= email]{
    width: 100%;
}

.container input[type= text]{
    width: 100%;
}

.container input[type= number]{
    width: 100%;
}

.container input[type= date]{
    width: 100%;
}

.container input[type= submit]{
    background-color: #3674BA;
}

.container select{
    width: 100%;
    border: solid black;
    border-radius: 4px;
    font-size: 16px;
    padding: 3px 6px;
}

input{
    border: solid black;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 16px;
    padding: 3px 6px;
}

.register{
    text-align: center;
}
.register input{
    font-size: 18px;
}

.login a{
    text-decoration-line: none;
}

.login{
    text-align: center;
    font-size: 16px;
}

.wrapper{
    display: flex;
    position: relative;
    
}
.wrapper .navbar{
    position: fixed;
    width: 230px;
    height: 750px;
    background:#3674BA;
    padding: 30px 0;
    left: 1330px;
    padding-top: 10em;

    
}

.wrapper .navbar ul li{
    padding: 15px;
   
    border-top: 1px solid rgba(255,255,255,0.05);

}

.wrapper .navbar ul li a{
    
    display: block;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    padding: 20px 0;
    border-bottom: 1px solid black ;
  
}

.wrapper .navbar ul li a:hover{
    color: black;
    transition-duration: 0.5s;
}
ul{
    list-style: none;
}

.container input[type= checkbox]{
    font-size: 16px;
    padding: 2px 4px;
    border-radius: 4px;
    height: 1em;
    width: 1em;
    margin: 4px;
    border: solid black;
}
