*{
    margin: 0px;
    padding: 0px;
}

body{
    background: linear-gradient(135deg, #0e3c49, #732264);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: center;
    padding-bottom: 130px;
}

.container{
    display: flex;
    justify-content: center;
    background-color:whitesmoke ;
    max-width: 700px;
    border-radius: 10px;
    padding: 10px  20px;
    margin: 0 auto;
    border: solid black;
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .inputbox{
    width: calc(100% / 2 - 20px);
}

.user-details .inputbox input{
    height: 30px;
    width: 100%;
}

.logo img{
    padding: 50px;
    border-radius: 500px;
    width: 180px;
    height: 180px;
 }

 h2{
     text-align: center;
     color: #d8d7e7;
     font-size: 30px;
 }
 
.wrapper .navbar{
    position: fixed;
    width: 230px;
    height: 100%;
    background:#d8d7e7;
    padding: 30px 0;
    left: 1330px;
    padding-top: 10em;
}

.wrapper .navbar ul li{
    padding: 15px;
    border-top: 1px solid rgba(255,255,255,0.05);
}

.wrapper .navbar ul li a{
    display: block;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    padding: 20px 0;
    border-bottom: 1px solid black ;
}

.wrapper .navbar ul li a:hover{
    color: black;
    transition-duration: 0.5s;
}

ul{
    list-style: none;
}

h3{
    text-align: center;
}

label{
    
    display: inline-block;
    text-align: left;
}

form{
    text-align: center;
}

.login{
    text-align: center;
}

.login a{
    text-decoration-line: none;
    color: #d8d7e7;
}

input{
    border: solid black;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 3px 6px;
    font-size: 13px;
}

.register{
    margin: 0 auto;
}

.register input[type=submit]{
    background-color: #3660D4;
    width: 10em;
    height: 2em;
    font-size: 18px;
}

.inputbox{
    text-align: left;
}

.container select{
    width: 100%;
    border: solid black;
    border-radius: 4px;
    font-size: 13px;
    box-sizing: border-box;
    padding: 3px 6px;
    height: 30px;
}
