*{
    margin: 0px;
    padding: 0px;
}

body{
    background: linear-gradient(135deg,  #0583d2, #b8e3ff, #0583d2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 500px;
}

.back form input[type= submit]{
    justify-content: center;
    width: 130px;
    font-size: 15px;
    padding: 3px 6px;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #3660D4;
    color: white;
    margin-left: 20px;
    text-align: center;
}


.card{
    width: 850px;
    height: 450px;
    background: linear-gradient(135deg, #61b0b7, #84caf8, #61b0b7);
    border-radius: 6px;
    position: inherit;
    box-shadow: 0px 1px 10px 1px #000;
    padding: 20px 20px ;
    padding-top: 75px;
    margin: 0 auto;
    border: solid black;
    display: flex;
}

.card .image{
    margin-left: 24%;
    justify-content: center;
    text-align: center;
}

.card .card-body{
    text-align: center;
    padding: 100px 100px;
}

.card form  input[type= submit]{
    justify-content: center;
    width: 130px;
    font-size: 15px;
    padding: 3px 6px;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #0584d280;
    color: white;
    text-align: center;
}

h5{
    text-align: center;
    font-size: 25px;
    padding-bottom: 3px;
}
